* {
	margin: 0;
	padding: 0;
}
body {
	font-family: Roboto, sans-serif;
	background-color: #000;
	color: white;
	position: relative;
	margin-bottom: 140px
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: white;
}
header {
	background-color: #000;
	//height: 100vh;
	text-align: center;
}
.menu {
	//position: absolute;
}
.logo {
	//margin-top: 20px;
	max-height: 80%;
	max-width: 55%;
}

.menu ul {
	display: flex;
	justify-content: center;
}

.menu ul li {
	margin: 30px 20px;
	list-style: none;
}
.menu ul li a {
	letter-spacing: 1.1px;
}



main h1 {
	text-align: center;
	margin-top: 20px;
}
.about-text {
	//outline: 1px solid gold;
	margin-bottom: 80px;
}


.menu {
	//outline: 1px solid gold;
}
.menu h2 {
	text-align: center;
}


/*FOOTER WITH PHONE*/
.contact-phone {
	color: black;
	position: fixed;
	bottom: 0;
	width: 100%;
	//height: 8%;
	background-color: #C5CBD3;
}
.contact-phone .phone-center {
	text-align: center;
	padding: 20px 0;
	font-size: 150%;

}
.contact-phone a {
	//font-size: 150%;
	color: black;
}